
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('./images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow: auto; 
  }
  
  .content {
    height: 1000px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3); 
  }
  